<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/weatherIcon.png">
    <!-- path is relative to server path that is public directory -->
    <link rel="stylesheet" href="/css/styles.css" />

    <title>Index</title>
  </head>
  <body>
    <div class="main_content">
      {{>header}}

      <form action="">
        <input type="text" placeholder="Enter City..">
        <button>Search</button>
      </form>

    <p id="message-one"></p>
    <p id="message-two"></p>
    </div>
    {{!-- to access values in hbs file
    <p>{{name}}</p> --}}

    {{>footer}}
    <script src="./js/app.js"></script>
  </body>
</html>
